<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Crawler Admin</title>
	<!--favicon-->
	<link rel="icon" href="{% static 'assets/images/favicon-32x32.png' %}" type="image/png" />
	<!-- Vector CSS -->
	<link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet" />
	<!--plugins-->
	<link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet" />
	<!-- loader-->
	<link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet" />
	<script src="{% static 'assets/js/pace.min.js' %}"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/icons.css' %}" />
	<!-- App CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/app.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/dark-sidebar.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}" />
</head>

<body>
{% csrf_token %}
	<!-- wrapper -->
	<div class="wrapper">
		<!--sidebar-wrapper-->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div class="">
					<img src="assets/images/logo-icon.png" class="logo-icon-2" alt="" />
				</div>
				<div>
					<h4 class="logo-text">Crawler</h4>
				</div>
				<a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
				</a>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="{% url 'dashboard' %}">
						<div class="parent-icon icon-color-1"><i class="bx bx-home-alt"></i></div>
						<div class="menu-title">Dashboard</div>
					</a>
				</li>
				<li class="menu-label">Crawling Management</li>
				<li>
					<a href="{% url 'crawl_status' %}">
						<div class="parent-icon icon-color-2">
							<i class="bx bx-line-chart"></i>
						</div>
						<div class="menu-title">Crawling Status</div>
					</a>
				</li>
				<li>
					<a href="{% url 'crawl_url' %}">
						<div class="parent-icon icon-color-3">
							<i class="bx bx-line-chart"></i>
						</div>
						<div class="menu-title">URL Status</div>
					</a>
				</li>
				<li>
					<a href="{% url 'crawl_data' %}">
						<div class="parent-icon icon-color-4">
							<i class="bx bx-line-chart"></i>
						</div>
						<div class="menu-title">Crawled Data</div>
					</a>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar-wrapper-->
		<!--header-->
		<header class="top-header">
			<nav class="navbar navbar-expand">
				<div class="left-topbar d-flex align-items-center">
					<a href="javascript:;" class="toggle-btn">	<i class="bx bx-menu"></i>
					</a>
				</div>
				<div class="flex-grow-1 search-bar">
					<div class="input-group">
						<div class="input-group-prepend search-arrow-back">
							<button class="btn btn-search-back" type="button"><i class="bx bx-arrow-back"></i>
							</button>
						</div>
						<input type="text" class="form-control" placeholder="search" />
						<div class="input-group-append">
							<button class="btn btn-search" type="button"><i class="lni lni-search-alt"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="right-topbar ml-auto">
					<ul class="navbar-nav">
						<li class="nav-item search-btn-mobile">
							<a class="nav-link position-relative" href="javascript:;">	<i class="bx bx-search vertical-align-middle"></i>
							</a>
						</li>
						<li class="nav-item dropdown dropdown-lg">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="javascript:;" data-toggle="dropdown">	<span class="msg-count">0</span>
								<i class="bx bx-comment-detail vertical-align-middle"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a href="javascript:;">
									<div class="msg-header">
										<h6 class="msg-header-title">0 New</h6>
										<p class="msg-header-subtitle">Application Messages</p>
									</div>
								</a>
								<div class="header-message-list">
								</div>
								<a href="javascript:;">
									<div class="text-center msg-footer">View All Messages</div>
								</a>
							</div>
						</li>
						<li class="nav-item dropdown dropdown-lg">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="javascript:;" data-toggle="dropdown">	<i class="bx bx-bell vertical-align-middle"></i>
								<span class="msg-count">0</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a href="javascript:;">
									<div class="msg-header">
										<h6 class="msg-header-title">0 New</h6>
										<p class="msg-header-subtitle">Application Notifications</p>
									</div>
								</a>
								<div class="header-notifications-list">
								</div>
								<a href="javascript:;">
									<div class="text-center msg-footer">View All Notifications</div>
								</a>
							</div>
						</li>
						<li class="nav-item dropdown dropdown-user-profile">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-toggle="dropdown">
								<div class="media user-box align-items-center">
									<div class="media-body user-info">
										<p class="user-name mb-0">Admin</p>
										<p class="designattion mb-0">Available</p>
									</div>
									<img src="https://via.placeholder.com/110x110" class="user-img" alt="user avatar">
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-right">	<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-user"></i><span>Profile</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-cog"></i><span>Settings</span></a>
								<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-tachometer"></i><span>Dashboard</span></a>
								<div class="dropdown-divider mb-0"></div>	<a class="dropdown-item" href="javascript:;"><i
										class="bx bx-power-off"></i><span>Logout</span></a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!--end header-->
		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="row">
						<div class="col-12 col-lg-4">
							<div class="card radius-15">
								<div class="card-body">
									<div class="d-flex mb-2">
										<div>
											<p class="mb-0 font-weight-bold">Crawling Status</p>
											<h2 class="mb-0">501</h2>
										</div>
										<div class="ml-auto align-self-end">
											<p class="mb-0 font-14 text-primary"><i class='bx bxs-up-arrow-circle'></i>  <span>1.01% 31 days ago</span>
											</p>
										</div>
									</div>
									<div id="chart1"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="card radius-15">
								<div class="card-body">
									<div class="d-flex mb-2">
										<div>
											<p class="mb-0 font-weight-bold">URL Status</p>
											<h2 class="mb-0">409</h2>
										</div>
										<div class="ml-auto align-self-end">
											<p class="mb-0 font-14 text-success"><i class='bx bxs-up-arrow-circle'></i>  <span>0.49% 31 days ago</span>
											</p>
										</div>
									</div>
									<div id="chart2"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="card radius-15">
								<div class="card-body">
									<div class="d-flex mb-2">
										<div>
											<p class="mb-0 font-weight-bold">Crawled Data</p>
											<h2 class="mb-0">2,346</h2>
										</div>
										<div class="ml-auto align-self-end">
											<p class="mb-0 font-14 text-danger"><i class='bx bxs-down-arrow-circle'></i>  <span>130.68% 31 days ago</span>
											</p>
										</div>
									</div>
									<div id="chart3"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-12 col-xl-6">
							<div class="card-deck flex-column flex-lg-row">
								<div class="card radius-15 bg-info">
									<div class="card-body text-center">
										<div class="widgets-icons mx-auto rounded-circle bg-white"><i class='bx bx-time'></i>
										</div>
										<h4 class="mb-0 font-weight-bold mt-3 text-white">2m 28s</h4>
										<p class="mb-0 text-white">Avg. Time on Site</p>
									</div>
								</div>
								<div class="card radius-15 bg-wall">
									<div class="card-body text-center">
										<div class="widgets-icons mx-auto bg-white rounded-circle"><i class='bx bx-bookmark-alt'></i>
										</div>
										<h4 class="mb-0 font-weight-bold mt-3 text-white">4.68</h4>
										<p class="mb-0 text-white">Pages/Session</p>
									</div>
								</div>
								<div class="card radius-15 bg-rose">
									<div class="card-body text-center">
										<div class="widgets-icons mx-auto bg-white rounded-circle"><i class='bx bx-bulb'></i>
										</div>
										<h4 class="mb-0 font-weight-bold mt-3 text-white">78%</h4>
										<p class="mb-0 text-white">New Sessions</p>
									</div>
								</div>
							</div>
							<div class="card-deck flex-column flex-lg-row">
								<div class="card radius-15 bg-danger">
									<div class="card-body text-center">
										<div class="widgets-icons mx-auto rounded-circle bg-white"><i class='bx bx-line-chart'></i>
										</div>
										<h4 class="mb-0 font-weight-bold mt-3 text-white">23.4%</h4>
										<p class="mb-0 text-white">Bounce Rate</p>
									</div>
								</div>
								<div class="card radius-15 bg-primary">
									<div class="card-body text-center">
										<div class="widgets-icons mx-auto bg-white rounded-circle"><i class='bx bx-group'></i>
										</div>
										<h4 class="mb-0 font-weight-bold mt-3 text-white">4,286</h4>
										<p class="mb-0 text-white">New Users</p>
									</div>
								</div>
								<div class="card radius-15 bg-success">
									<div class="card-body text-center">
										<div class="widgets-icons mx-auto bg-white rounded-circle"><i class='bx bx-cloud-download'></i>
										</div>
										<h4 class="mb-0 font-weight-bold mt-3 text-white">78%</h4>
										<p class="mb-0 text-white">Downloads</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div class="d-lg-flex align-items-center mb-4">
										<div>
											<h5 class="mb-0">Top countries sites</h5>
										</div>
										<div class="ml-auto">
											<h3 class="mb-0"><span class="font-14">Total Sites:</span> 9587</h3>
										</div>
									</div>
									<hr/>
									<div class="dashboard-top-countries">
										<ul class="list-group list-group-flush">
											<li class="list-group-item d-flex align-items-center">
												<div class="media align-items-center">
													<div class="font-20"><i class="flag-icon flag-icon-in"></i>
													</div>
													<div class="media-body ml-2">
														<h6 class="mb-0">India</h6>
													</div>
												</div>
												<div class="ml-auto">647</div>
											</li>
											<li class="list-group-item d-flex align-items-center">
												<div class="media align-items-center">
													<div class="font-20"><i class="flag-icon flag-icon-us"></i>
													</div>
													<div class="media-body ml-2">
														<h6 class="mb-0">United States</h6>
													</div>
												</div>
												<div class="ml-auto">435</div>
											</li>
											<li class="list-group-item d-flex align-items-center">
												<div class="media align-items-center">
													<div class="font-20"><i class="flag-icon flag-icon-vn"></i>
													</div>
													<div class="media-body ml-2">
														<h6 class="mb-0">Vietnam</h6>
													</div>
												</div>
												<div class="ml-auto">287</div>
											</li>
											<li class="list-group-item d-flex align-items-center">
												<div class="media align-items-center">
													<div class="font-20"><i class="flag-icon flag-icon-au"></i>
													</div>
													<div class="media-body ml-2">
														<h6 class="mb-0">Australia</h6>
													</div>
												</div>
												<div class="ml-auto">432</div>
											</li>
											<li class="list-group-item d-flex align-items-center">
												<div class="media align-items-center">
													<div class="font-20"><i class="flag-icon flag-icon-dz"></i>
													</div>
													<div class="media-body ml-2">
														<h6 class="mb-0">Angola</h6>
													</div>
												</div>
												<div class="ml-auto">345</div>
											</li>
											<li class="list-group-item d-flex align-items-center">
												<div class="media align-items-center">
													<div class="font-20"><i class="flag-icon flag-icon-ax"></i>
													</div>
													<div class="media-body ml-2">
														<h6 class="mb-0">Aland Islands</h6>
													</div>
												</div>
												<div class="ml-auto">134</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h5 class="mb-0">Recently Crawled URL </h5>
							</div>
							<hr/>
							<div class="table-responsive">
								<table class="table mb-0">
									<thead class="thead-dark">
										<tr>
											<th>#</th>
											<th>Title</th>
											<th>Avg. Time</th>
											<th>Bounce Rate</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td><a href="https://themeforest.net/item/synadmin-bootstrap4-admin-template/29014766" target="_blank">https://themeforest.net/item/synadmin-bootstrap4-admin-template/29014766</a>
											</td>
											<td>55s</td>
											<td>3.6%</td>
										</tr>
										<tr>
											<td>2</td>
											<td><a href="https://codervent.com/wipe-admin-dark/dashboard/v3" target="_blank">https://codervent.com/wipe-admin-dark/dashboard/v3</a>
											</td>
											<td>16s</td>
											<td>8.4%</td>
										</tr>
										<tr>
											<td>3</td>
											<td><a href="https://themeforest.net/item/dashtreme-multipurpose-bootstrap4-admin-template/23059455" target="_blank">https://themeforest.net/item/dashtreme-multipurpose-bootstrap4-admin-template/23059455</a>
											</td>
											<td>10s</td>
											<td>6.7%</td>
										</tr>
										<tr>
											<td>4</td>
											<td><a href="https://themeforest.net/item/rukada-responsive-bootstrap-4-admin-template/22820477" target="_blank">https://themeforest.net/item/rukada-responsive-bootstrap-4-admin-template/22820477</a>
											</td>
											<td>57s</td>
											<td>5.2%</td>
										</tr>
										<tr>
											<td>5</td>
											<td><a href="https://codervent.com/rocker-angular/dashboard/v1" target="_blank">https://codervent.com/rocker-angular/dashboard/v1</a>
											</td>
											<td>45s</td>
											<td>7.2%</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->
		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<!--footer -->
		<!-- end footer -->
	</div>
	<!-- end wrapper -->
	<!-- JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<!--plugins-->
	<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<!-- Vector map JavaScript -->
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-in-mill.js' %}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-us-aea-en.js' %}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-uk-mill-en.js' %}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-au-mill.js' %}"></script>
	<script src="{% static 'assets/plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>
	<script src="{% static 'assets/js/index.js' %}"></script>
	<!-- App JS -->
	<script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>